<header>
<div class="header">
    <div class="header-container">
        <div class="lineaUno">
            <div class="header-logo">
                <a href="/"><img src="/images/header-logo.png" alt="Crear.La"></a>
            </div>
            <div class="header-search">
             <form action="/" method="get" class="header-search-form">
                    <div class="header-search-input">
                        <input type="text" placeholder="Busca tu desarrollo">
                    </div>
                    <div class="header-search-button">
                        <button type="submit">Buscar</button>
                    </div>
               </form>
            </div>
             <nav class="header-right-menu">
                <ul style="list-style:none;">
                    <li><a href="/user/login"> <i class="fa-regular fa-address-card  "></i>       Mi cuenta </a></li>
                    <li> <a href="/user/register"> <i class="fa-solid fa-arrow-right-to-bracket  "></i>     Registrarme</a></li>
                    <li> <a href="/carrito"> <i class="fa-solid fa-bag-shopping  "></i>     Ver carrito</a></li>
                </ul>
            </nav>    
            <a href="#" class="menu-button">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>

        <nav class="header-bottom-menu">
            <ul style="list-style:none;">
                <li><a href="/">Inicio</a></li>
                <li><a href="/categories/">Servicios</a>
                    <ul>
                        <li><a href="/servicios/desarrolloApp">Desarrollo de App</a></li>
                        <li><a href="/servicios/desarrolloSoftware">Desarrollo de Software</a></li>
                        <li><a href="/servicios/desarrolloWeb">Desarrollo Web</a></li>
                        <li><a href="/servicios/disenoWeb">Diseño Web</a></li>
                        <li><a href="/servicios/ecommerce">E-commerce</a></li>
                    </ul>
                </li>
                 <li><a href="/nosotros">Nosotros</a></li>
                <li><a href="/contact">Contacto</a></li>
                <li><a href="/portafolio">Portafolio</a></li>
            </ul>
        </nav>
    </div>
</div>
</header>