<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %> 
        <main>
            <h1 class="servicios-h1">DESARROLLO WEB</h1>
            <div class="servicios-p">
                <p>El desarrollo web es el proceso de creación y mantenimiento de sitios web. Los especialistas en desarrollo web son aquellos que se encargan de que los websites y las apps funcionen correctamente, sean eficientes, tengan dinamismo y buena organización.</p>
            </div>
            <div class="box-servicio">
                <div class="box-servicio-left">
                    <div class="box-servicio-number">01</div>
                    <div class="box-servicio-txt">
                        <h2>CAKEPHP</h2>
                        <p>CakePHP es un framework para el desarrollo aplicaciones web escrito en PHP, creado sobre los conceptos de Ruby on Rails.</p>
                    </div>
                    <div>
                        <button class="box-servicio-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-servicio-right">
                    <img src="./images/cakephp.jpg" alt="cakephp">
                </div>
            </div>
            <div class="box-servicio">
                <div class="box-servicio-left">
                    <div class="box-servicio-number">02</div>
                    <div class="box-servicio-txt">
                        <h2>ANGULAR JS</h2>
                        <p>AngularJS (comúnmente llamado Angular.js o AngularJS 1), es un framework de JavaScript de código abierto, mantenido por Google, que se utiliza para crear y mantener aplicaciones web de una sola página. Su objetivo es aumentar las aplicaciones basadas en navegador con capacidad de Modelo Vista Controlador (MVC), en un esfuerzo para hacer que el desarrollo y las pruebas sean más fáciles.</p>
                    </div>
                    <div>
                        <button class="box-servicio-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-servicio-right">
                    <img src="./images/angularjs.jpg" alt="angular js">
                </div>
            </div>
            <div class="box-servicio">
                <div class="box-servicio-left">
                    <div class="box-servicio-number">03</div>
                    <div class="box-servicio-txt">
                        <h2>VUE JS</h2>
                        <p>Vue.js es un framework de JavaScript de código abierto para la construcción de interfaces de usuario y aplicaciones de una sola página. Fue creado por Evan You, y es mantenido por él y por el resto de los miembros activos del equipo central que provienen de diversas empresas como Netlify y Netguru.4​</p>
                    </div>
                    <div>
                        <button class="box-servicio-button">
                            <a href="/">VER DETALLE</a>
                        </button>
                    </div>
                </div>
                <div class="box-servicio-right">
                    <img src="./images/vuejs.jpg" alt="vue js">
                </div>
            </div>
            <div class="box-servicio">
                <div class="box-servicio-left">
                    <div class="box-servicio-number">04</div>
                    <div class="box-servicio-txt">
                        <h2>DESARROLLO PHP</h2>
                        <p> PHP ( Hypertext Preprocessor) es un lenguaje de programación de código abierto (open source) y adecuado para Desarrollo Web y puede ser incrustado en HTML</p>
                    </div>
                    <div>
                        <button class="box-servicio-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-servicio-right">
                    <img src="./images/desarrolloPhp.jpg" alt="desarrollo php">
                </div>
            </div>
            <div class="box-servicio">
                <div class="box-servicio-left">
                    <div class="box-servicio-number">05</div>
                    <div class="box-servicio-txt">
                        <h2>LARAVEL</h2>
                        <p>Laravel es un framework de código abierto para desarrollar aplicaciones y servicios web con PHP 5, PHP 7 y PHP 8. Su filosofía es desarrollar código PHP de forma elegante y simple, evitando el "código espagueti".</p>
                    </div>
                    <div>
                        <button class="box-servicio-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-servicio-right">
                    <img src="./images/Laravel.jpg" alt="laravel">
                </div>
            </div>
            <div class="box-servicio">
                <div class="box-servicio-left">
                    <div class="box-servicio-number">06</div>
                    <div class="box-servicio-txt">
                        <h2>CODEIGITER</h2>
                        <p>CodeIgniter es un framework para aplicaciones web de código abierto para crear sitios web dinámicos con PHP.</p>
                    </div>
                    <div>
                        <button class="box-servicio-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-servicio-right">
                    <img src="./images/codeigniter.jpg" alt="codeigiter">
                </div>
            </div>
            <div class="box-servicio">
                <div class="box-servicio-left">
                    <div class="box-servicio-number">07</div>
                    <div class="box-servicio-txt">
                        <h2>SYMFONY 2</h2>
                        <p>Symfony es un framework diseñado para desarrollar aplicaciones web basado en el patrón Modelo Vista Controlador. Para empezar, separa la lógica de negocio, la lógica de servidor y la presentación de la aplicación web.</p>
                    </div>
                    <div>
                        <button class="box-servicio-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-servicio-right">
                    <img src="./images/sympony.jpg" alt="symfony">
                </div>
            </div>
            <div class="box-servicio">
                <div class="box-servicio-left">
                    <div class="box-servicio-number">08</div>
                    <div class="box-servicio-txt">
                        <h2>NODE JS</h2>
                        <p>Node.js es un entorno en tiempo de ejecución multiplataforma, de código abierto, para la capa del servidor (pero no limitándose a ello) basado en el lenguaje de programación JavaScript, asíncrono, con E/S de datos en una arquitectura orientada a eventos y basado en el motor V8 de Google. </p>
                    </div>
                    <div>
                        <button class="box-servicio-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-servicio-right">
                    <img src="./images/node_js.jpg" alt="node">
                </div>
            </div>
           
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
