<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Carrito de compras</title>

</head>
<body>
    <header>
            <logo-crear-la class="design/logo-crear-la.jpg"></logo-crear-la>
            <div class="logo" src="design/"></div>

            <input class="input" type="text" placeholder="Busca tu desarrollo">
                <i id="lupa" class="fa-solid fa-magnifying-glass"></i>

            <nav>
                <ul>
                <li><a href="#">inicio</a>Mi cuenta</li>
                <li><a href="#">inicio</a>Registrarme</li>
                </ul>
            </nav>    

            <nav>
                <ul>
                    <li><a href="#">inicio</a></li>
                    <li><a href="#">Nuestros Servicios</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
    </header>

    <main>
        <div>
            <h1>COTIZA TU PRESUPUESTO</h1>
            <H2>Aquí podrás cotizar el alcance de tu App, software, e-comerce y/0 sitio web</H2>
        </div>

        <section>
            <div>
                <h2>E-comerce</h2>
            </div>
            <article>
                <form action="/" method="get">
                    <label>Tipo de servicio</label>
                    <select>
                        <option>App</option>
                        <option>Software</option>
                        <option>e-comerce</option>
                        <option>sitio web</option>
                    </select>
                </form>
            </article>
            <div><h2>Adicionales</h2></div>
            <article>
                <ul>
                        <form action="/" method="post">
                        <input type="checkbox" name="adicionales" value="pago por pse">
                        <input type="checkbox" name="adicionales" value="chat por Whats App">
                        <input type="checkbox" name="adicionales" value="otra cosa">
                        <input type="checkbox" name="adicionales" value="otra cosa">

                        <button type="submit">Agregar servicio</button>
                    </form>
                </ul>
                <div><h2>TOTAL</h2></div>
            </article>
            <article>
            
            </article>
        </section>
    </main>

    <footer>
        <section>
            <div>
                <h2>Servicio</h2>
                <ul>
                    <li>Desarrollo de Apps</li>
                    <li>Desarrollo web</li>
                    <li>Diseño Web Profesional</li>
                    <li>Desarrollo de software</li>
                    <li>Desarrollo de tiendas</li>
                    <li>Diseño de tiendas online</li>
                </ul>
            </div>

            <div>
                <logo-crear-la class="design/logo-crear-la.jpg"></logo-crear-la>
                <p>Agencia de diseño web, desarrollo de aplicaciones y software</p>
            </div>

            <div>
                <h2>Contacto</h2>
                <form action="/" method="POST">
                    <input type="email" name="email">
                    <input type="tel" name="telefono">
                </form>
            </div>
        </section>
    </footer>
</body>
</html>