<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>

    <%- include('./partials/header') %> 

    <main class="main-contact">


<div class="formulario-contacto-texto">
    <div class="tenes-duda">
<h3>¿Tenés alguna duda?</h3>

    <p>Envianos tu consulta y te responderemos a la brevedad</p>
</div>
<form name="registro2" method="get" action="/" class="create-form-contact">
    <h3>Datos de contacto</h3><i class="fa-regular fa-user"></i>
    <div class="formulario-contacto">
    <div class="control-form"> 
        <label for="nombre"></label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido" required>
     </div>
     <div class="control-form">
        <label for="email"></label>
        <input type="email" id="email" name="email" placeholder="E-mail" required>
    </div> 
    <div class="control-form">
        <label for="telefono"></label>
        <input type="tel" id="tel" name="tel" placeholder="Telefono" required>
    </div>
     <h3>Mensaje</h3> <i class="fa-regular fa-envelope"></i>
    <div class="control-form">
        <label for="asunto"></label>
        <input type="text" id="asunto" name="asunto" placeholder="Asunto del Mensaje">
    </div> 
   
    <div>
        
        <label for="mensaje"></label>
        <textarea name="mensaje" id="mensaje" cols="35" rows="10" placeholder="Dejanos tu mensaje"></textarea>
    </div>
    <button type="submit" class="button-form">Enviar</button>   
</div>

</div>
</form> 
    </main>

   <%- include('./partials/footer') %>
</body>
</html>