<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" >
    <script src="https://kit.fontawesome.com/2bb5f709fe.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    rel="stylesheet" />
<link rel="stylesheet" href="/css/normalize.css"> 
  
</head>
<body>
    <header class="main-header">
        <div class="lineaUno" >
            <img class="logo" src="/images/header-logo.png" alt="logo">
            
            <form class="buscador" action="/" method="get">
                <input class="input" type="text" placeholder="Busca tu desarrollo">
                <button class="boton" type="submit">Buscar</button>
            </form>
                
            
            <nav class="barNav1">

                <ul style="list-style:none;">
                <li><a href="register.html"> <i class="fa-regular fa-address-card  "></i>       Crea tu cuenta </a></li>
                <li> <a href="login.html"> <i class="fa-solid fa-arrow-right-to-bracket  "></i>     Ingresa</a></li>
                <li> <a href="/carrito.html"> <i class="fa-solid fa-bag-shopping  "></i>     Ver carrito</a></li>
                </ul>

            </nav>    
            <a href="#" class="menu-button">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>

        <nav class="barNavIndex">
            <ul style="list-style:none;">
                <li><a href="/">inicio</a></li>
                <li><a href="product.html">Nuestros Servicios</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="contact.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
       <div class="home-slider">
            <img width="700" height="auto" src="/images/home-slider.jpg" alt="Desarrollo de Sitios Web">
       </div>
            <div class="home-products">
                <div class="home-products-box">
                    <h3>Software Factory</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, adipisci. Ipsa quos neque.</p>
                </div>
                <div class="home-products-box">
                    <h3>Desarrollo de Apps</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, adipisci. Ipsa quos neque.</p>
                </div>
                <div class="home-products-box">
                    <h3>Diseño UX/UI</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, adipisci. Ipsa quos neque.</p>                    
                </div>
                <div class="home-products-box">
                    <h3>E-commerce</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, adipisci. Ipsa quos neque.</p>                    
                </div>
            </div>

            <div class="home-title">
                <h2>Desarrollamos soluciones</h2>
                <h3>para diferentes industrias y sectores</h3>
            </div>
            <div class="home-solutions">
                <article class="home-solutions-box">
                    <img class="img-solutions" src="/images/home-solutions-fintech.jpg" alt="Fintech solutions">
                    <h4>Fintech</h4>
                </article>
                <article class="home-solutions-box">
                    <img  class="img-solutions" src="/images/home-solutions-tiendas-virtuales.jpg" alt="Tiendas Virtuales">
                    <h4>Tiendas virtuales</h4>
                </article>
                <article class="home-solutions-box">
                    <img  class="img-solutions" src="/images/home-solutions-delivery.jpg" alt="Delivery">
                    <h4>Delivery</h4>
                </article>
                <article class="home-solutions-box">
                    <img  class="img-solutions" src="/images/home-solutions-eventos.jpg" alt="Eventos">
                    <h4>Eventos</h4>
                </article>
                <article class="home-solutions-box">
                    <img  class="img-solutions" src="/images/home-solutions-turismo.jpg" alt="Turismo">
                    <h4>Turismo</h4>
                </article>
                <article class="home-solutions-box">
                    <img  class="img-solutions" src="/images/home-solutions-elearning.jpg" alt="E-Learning">
                    <h4>E-Learning</h4>
                </article>                                                                                
            </div>
    </main>

    <footer>
        <section class="main-footer">
            <div class="module-footer">
                <h2>Servicios</h2>
                <ul style="list-style:none;">
                    <li>Desarrollo de Apps</li>
                    <li>Desarrollo web</li>
                    <li>Diseño Web Profesional</li>
                    <li>Desarrollo de software</li>
                    <li>Desarrollo de tiendas</li>
                    <li>Diseño de tiendas online</li>
                </ul>
            </div>

            <div class="module-footer">
                <img class="logo" src="/images/header-logo.png" alt="logo">
                <p>Agencia de diseño web, desarrollo de aplicaciones y software</p>
                <p>Argentina | Colombia | Panamá</p>
            </div>

            <div class="module-footer">
                <h2>Contacto</h2>
                <p>info@crear.la</p>
                <p>+54 11 3029-2341</p>

                <a class="icono" href="#"><img src="/images/footer-facebook.png">
                <a class="icono" href="#"><img src="/images/footer-instagram.png">
                <a class="icono" href="#"><img src="/images/footer-twitter.png">
                <a class="icono" href="#"><img src="/images/footer-linkedin.png">
            </div>
        </section>
    </footer>
    
</body>
</html>