<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Crear.La</title>
</head>
<body>
    <header class="main-header">
        <div class="lineaUno" >
            <img class="logo" src="/images/header-logo.png" alt="logo">
            
            <form class="buscador" action="/" method="get">
                <input class="input" type="text" placeholder="Busca tu desarrollo">
                <button class="boton" type="submit">Buscar</button>
            </form>
                
            
            <nav class="barNav1">
                <ul class="right-navbar">
                    <li>
                      <a href="register.html">
                        <i class="fa-sharp fa-solid fa-id-card"></i> Crea tu cuenta
                      </a>
                    </li>
                    <li>
                      <a href="login.html">
                        <i class="fa-sharp fa-solid fa-right-to-bracket"></i> Ingresa
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa-sharp fa-solid fa-basket-shopping"></i> Mis compras
                      </a>
                    </li>
                  </ul>
            </nav>    
            <a href="#" class="menu-button">
                <i class="fa-solid fa-bars"></i>
            </a>
        </div>

        <nav class="barNavIndex">
            <ul style="list-style:none;">
                <li><a href="/">inicio</a></li>
                <li><a href="#">Nuestros Servicios</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
       <h1>Bienvenidos a Crear.La</h1>
    </main>

    <footer>
        <section class="main-footer">
            <div class="module-footer">
                <h2>Servicios</h2>
                <ul style="list-style:none;">
                    <li>Desarrollo de Apps</li>
                    <li>Desarrollo web</li>
                    <li>Diseño Web Profesional</li>
                    <li>Desarrollo de software</li>
                    <li>Desarrollo de tiendas</li>
                    <li>Diseño de tiendas online</li>
                </ul>
            </div>

            <div class="module-footer">
                <img class="logo" src="/images/header-logo.png" alt="logo">
                <p>Agencia de diseño web, desarrollo de aplicaciones y software</p>
                <p>Argentina | Colombia | Panamá</p>
            </div>

            <div class="module-footer">
                <h2>Contacto</h2>
                <p>info@crear.la</p>
                <p>+54 11 3029-2341</p>

                <a class="icono" href="#"><img src="/images/footer-facebook.png">
                <a class="icono" href="#"><img src="/images/footer-instagram.png">
                <a class="icono" href="#"><img src="/images/footer-twitter.png">
                <a class="icono" href="#"><img src="/images/footer-linkedin.png">
            </div>
        </section>
    </footer>
    
</body>
</html>