<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
  
</head> 

<body>
    <section class = "body">
        <img class= "imagenDeProducto" src="productos.jpg" alt="Imagen producto/servicio">
        <h2 class="tituloDeProducto"> Título producto </h2>
        <p class="relleno">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum porro accusamus officiis ipsam saepe voluptatem. Delectus, aliquid eum eligendi quos suscipit minus repellendus exercitationem eveniet non, incidunt magni hic consequuntur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum porro accusamus officiis ipsam saepe voluptatem. Delectus, aliquid eum eligendi quos suscipit minus repellendus exercitationem eveniet non, incidunt magni hic consequuntur.</p>
        <button class="boton" type="submit" class="Comprar">Comprar</button>
    </section>    
</body>
</html>
