<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header> ACA VA EL HEADER </header>

    <main>
       <h1>Formulario de registro</h1>
        <form name="registro" method="get" action="/" class="create-form">
         <div class="control-form">
            <h2>Nombre y Apellido</h2>
            <label for="nombre"></label>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido" required>
         </div>
         <div class="control-form">
            <label for="email"></label>
            <input type="email" id="email" name="email" placeholder="E-mail" required>
        </div> 
        <h2>Usuario</h2>
         <div class="control-form">
            <label for="usuario"></label>
            <input type="usuario" id="usuario" name="usuario" placeholder="Nombre de usuario" required>
        </div> 
        <h2>Contraseña</h2>
        <div class="control-form">
            <label for="pass"></label>
            <input type="password" name="pass" id="pass" placeholder="Contraseña"required>
        </div>
        <div class="control-form">
            <label for="confirmar-pass"></label>
            <input type="password" name="confirmar-pass" id="confirmar-pass"  placeholder="Confirmar contraseña"required>
        </div>
        
        <h2> Fecha de Nacimiento</h2>
            <div class="control-form">
            <label for="date"></label>
            <input type="date" id="date" name="date" min="1950-01-01" max="" required>
        </div>
        <h2>Domicilio</h2>
        <div class="control-form">
            <label for="domicilio"></label>
            <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio" required>
        </div>
        
        <h2>Seleccionar foto de usuario</h2>
            <div class="control-form">
            <label for="foto"></label>
            <input type="file" name="foto" id="foto" accept=".jpg, .png">
        </div>
        
            <button type="submit" class="button-form">Enviar</button>
            <button type="reset" class="button-form">Borrar</button>
    
        </form>

        
    </main>

    <footer>
        ACA VA EK FOOTER
    </footer>
</body>
</html>