* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    margin: 0%;
    background-color: #012E40;
    font-family: 'Roboto', sans-serif;
}


/********************************************************************************/
/*********************************  HEADER **************************************/

header {
    width: 100%;
}

.header {
    background-image: url("/images/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.header-container {
    padding-top: 20px;
}

.lineaUno {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: auto;
}

.header-logo {
    width: 100%;
    margin: auto;
    text-align: center;
}

.header-logo img {
    width: 95%;
    padding: 15px;
    max-width: 433px;

}

.header-search {
    margin: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.header-search-input {
    display: block;
    margin: auto;
    max-width: 250px;
}

.header-search input {
    width: 80%;
    border-radius: 5px;
    border: none;
    height: 35px;
    margin: 0;
    padding-left: 15px;
}

.header-search-button {
    display: block;
    text-align: center;
    width: 100%;
}

.header-search button {
    background-color: #3CA6A6;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 14px;
    width: 100px;
}

.header-right-menu {
    display: none;
    width: 40%;
    justify-content: flex-end;
}

.header-right-menu li {
    margin: 15px;
    color: white;
    font-size: 18px;
    padding-bottom: 10px;
}

.header-right-menu i {
    margin-right: 10px;
}

.header-right-menu li a {
    color: white;
    text-decoration: none;
}

.menu-button {
    display: block;
    color: white;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 25px;
    margin: auto;
}

.header-bottom-menu {
    display: none;
    margin: auto;
}



/******************** HEADER --> MEDIA QUERIES *******************/
@media (min-width: 769px) {
    .header {
        height: 300px;
    }

    .menu-button {
        display: none;
    }

    .lineaUno {
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        padding: 20px 0;
    }

    .header-logo {
        width: 50%;
        margin: 20px;
        padding: 0;
    }

    .header-logo img {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .header-search {
        width: 50%;
    }

    .header-search-form {
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .header-search-input {
        width: 100%;
        margin-right: 10px;
    }

    .header-search-input input {
        width: 100%;
    }

    .header-search-button {
        width: 100px;
        margin: 0;
        padding: 0;
    }

    .header-search-button button {
        width: 70px;
        height: 36px;
        margin: 0;
        padding: 0;
    }

    .header-right-menu {
        display: flex;
        width: 35%;
        margin: auto;
        padding: 0px;
    }

    .header-right-menu li a {
        margin: 10px auto;
        padding: 10px;
    }

    .header-bottom-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        padding: 20px 0;
        position: relative;
    }

    .header-bottom-menu ul li {
        text-decoration: none;
        display: inline-block;
        padding: 5px 20px;
        margin: 0 15px;
    }

    .header-bottom-menu a {
        width: 100%;
        text-decoration: none;
        color: white;
        font-size: 23px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-size: 14px;
        transition: all 300ms ease;

    }

    .header-bottom-menu a:hover {
        transform: scale(1.1);
        border-radius: 5%;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    }
}

/*SUB-MENU*/

nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #012E40;
    position: absolute;
    top: 60px;
    padding: 10px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px, 0px, 10px, 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}


@media (min-width: 1200px) {
    .header {
        max-width: 1600px;
        max-height: 316px;
    }

    .header-logo {
        margin-left: 100px;
    }

    .header-right-menu {
        margin-right: 120px;
    }

}


/********************************************************************************/
/***********************  ESTILOS GENERALES DEL MAIN ****************************/

main {
    background-color: #EBEBEB;
}

.main-home {
    background-color: #FFFF;
    margin: auto;
    text-align: center;
    padding-bottom: 25px;
}


/********************************************************************************/
/**********************  ESTILOS GENERALES DEL FOOTER ***************************/

.main-footer {
    background-color: #012E40;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
}

.module-footer {
    color: #E3E3D8;
    margin: auto;
    text-align: center;
    line-height: 20px;
    margin-top: 10px;
}

.module-footer ul li {
    margin: 5px;
}

.footer-logo {
    width: 80%;
    text-align: center;
    margin: auto;
}

.footer-logo img {
    width: 100%;
}

.footer-logo p {
    padding: 10px 0;
}

.module-footer h2 {
    margin-bottom: 10px;
    color: #F2E3D5;
}

.module-footer p {
    margin: 5px;
}

.module-footer img {
    margin-top: 25px;
    padding: 0 10px;
}

/****************** FOOTER --> MEDIA QUERIES *****************/
@media (min-width: 481px) {
    .main-footer {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .module-footer {
        border-bottom: 0;
    }

    .module-footer ul li {
        margin: 10px auto;
    }

    .box-logo {
        display: none;
    }

    .module-footer p {
        margin: 10px auto;
    }

    .icono img {
        padding: 5px;
        margin: auto;
    }
}


/*
/*
/*
/*
/*
/********************************************************************************/
/********************************  HOME *****************************************/

.home-slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.home-slider ul {
    display: flex;
    padding: 0;
    width: 500%;

    animation: cambio 20s infinite;
}

.home-slider li {
    width: 20%;
    list-style: none;
}

.home-slider img {
    width: 60%;
}


.home-servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home-servicios p {
    margin-top: 15px;
    text-align: left;
    line-height: 18px;
}

.home-servicios h2 {
    text-align: right;
}

.home-servicios-box {
    background-color: #3ca6a6;
    color: #E3E3D8;
    padding: 20px 20px;
    margin: 15px;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    max-width: 300px;
}

.home-servicios-box-img1:hover {
    background-color: #012E40;
    background-image: url(/images/home-services-software.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}.home-servicios-box-img2:hover {
    background-color: #012E40;
    background-image: url(/images/home-services-app.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.home-title {
    margin: 25px auto;
    width: 70%;
}

.home-title-left {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    color: #012E40;

}

.home-title-right {
    font-size: 28px;
    text-align: center;
    color: #012E40;
    font-weight: 'Roboto';
    margin-bottom: 5px;
}
.home-title .botonContacto {
    display: block;
    padding: 10px 20px;
    background-color: #3ca6a6;
    border: none;
    border-radius: 20px;
    margin-top: 35px;
    cursor: pointer;
    -webkit-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
    -moz-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
    box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
  }
  
.botonContacto:hover {
    background-color: #012E40;
    box-shadow: none;
  }
.botonContacto a {
    text-decoration: none;
    color: #fff;
  }


.home-solutions {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
    flex-direction: row;
    justify-content: space-evenly;
}

.home-solutions-box {
    width: 33%;
    text-align: center;
    margin-bottom: 5%;
}

.img-solutions {
    width: 90%;
}



@media(min-width:769px) {
    .home-servicios-box {
        width: 40%;
    }

    .home-servicios {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .home-servicios p {
        margin-top: 15px;
        text-align: left;
        line-height: 18px;
    }

    .home-servicios h2 {
        text-align: right;
    }

    .home-servicios-box {
        background-color: #3ca6a6;
        color: white;
        padding: 79px 40px;
        margin: 14px;
        width: 40%;
        border-radius: 5px;
    }

.home-servicios-box-img1:hover {
        background-image: url(/images/home-services-software.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}.home-servicios-box-img2:hover {
    background-color: #012E40;
    background-image: url(/images/home-services-app.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home-servicios-box-img3:hover {
    background-color: #012E40;
    background-image: url(/images/home-services-uxui.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home-servicios-box-img4:hover {
    background-color: #012E40;
    background-image: url(/images/home-services-ecommerce.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

    .home-slider {
        display: block;
        width: 100%;
        background-color: #012e41;
    }



@media(min-width:1200px) {}
/*---------------------------SLIDER DEL HOME------------------------------------------------*/
.swiper-nuevo img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.swiper-nuevo {
    width: 100%;
    max-width: 100%;
}
.swiper-nuevo .swiper-pagination {
    --swiper-pagination-color: white;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.5;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;

}
.swiper-nuevo .swiper-pagination-bullet{
    box-shadow: inset 0 0 0 1px #fff;
}

@media (min-width: 1000px) {
    .swiper-nuevo img{
        height: 400px;
    }
}
/*
/*
/*
/*
/*
/********************************************************************************/
/***************************  CARRITO DE COMPRAS ********************************/

.main-carrito {
    background-color: #ebebeb;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 15px;
}

.main-carrito h1 {
    padding: 15px 25px;
    text-align: center;
}

.main-carrito h2 {
    padding: 10px 15px;
    text-align: center;
}

.titulos {
    border-bottom: gray double 1px;
    margin-top: 30px;
}

.titulos h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #012E40;
    text-align: center;
    margin-bottom: 20px;
}

.seleccion-menu p {
    padding: 2%;
    margin-top: 5%;
    text-align: center;
    color: #012E40;
}

.seleccion-menu label {
    display: block;
    width: 100%;
}

.seleccion-buscador {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.seleccion-buscador label {
    font-size: 20px;
    width: 80%;
    text-align: left;
    margin-top: 3%;
    padding: 1%;
    padding-left: 20px;
    color: #012e40;
}

.seleccion-buscador select {
    width: 90%;
    padding: 3%;
    border-radius: 16px;
    margin: auto;
    text-align: left;
    font-size: 20px;
}

.seleccion-check {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.seleccion-check .selector {
    width: 100%;
    padding-top: 15px;
    margin-bottom: 12px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 20px;
}

.selector input {
    top: 1px;
    width: 20px;
    height: 20px;
    margin-left: 30px;
}

.boton-carrito {
    padding: 5%;
    text-align: end;
}

button {
    background-color: #3ca6a6;
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: auto;
}

.valor-total {
    display: flex;
    justify-content: center;
    border-top: #012E40 1px solid;
}

.valor-total h2 {
    margin-top: 20px;
    color: #012E40;
}

/****************** CARRITO --> MEDIA QUERIES *****************/
@media(min-width: 769px) {
    .titulos h2 {
        font-size: 24px;
    }

    .seleccion-menu p {
        padding: 2%;
        margin-top: 5%;
        text-align: center;
        font-size: 17px;
    }

    .seleccion-buscador label {
        font-size: 24px;
    }

    .seleccion-buscador select {
        font-size: 30px;
    }

    .seleccion-check .selector {
        font-size: 27px;
    }

    button {
        padding: 12px;
        width: 200px;
    }

}

@media(min-width:1200px) {
    .seleccion-menu p {
        text-align: left;
    }

    .seleccion-buscador {
        width: 80%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .seleccion-buscador label {
        width: 20%;
        text-align: center;
        padding: 20px;
        margin: auto;
    }
}

/*
/*
/*
/*
/*
/********************************************************************************/
/******************************  SERVICIOS **************************************/

.servicios-h1 {
    text-align: center;
    padding: 15px 0;
    font-size: 35px;
}

.servicios-p {
    margin: 15px auto;
    width: 80%;
    text-align: center;
}

.box-servicio {
    border-bottom: 20px solid #f1f1f1;
    margin: auto;
    display: flex;
    justify-content: center;
    width: auto;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.box-servicio-left {
    padding: 10px 30px;
}

.box-servicio-number {
    font-size: 45px;
    font-weight: bold;
    color: #f3e3d4;
    text-shadow: 1px 1px 3px #595959;
    margin-bottom: 15px;
}

.box-servicio-txt p {
    margin: 15px 0;
    line-height: 25px;
}

.box-servicio-txt .price {
    color: #026773;
    font-size: 25px;
}

.box-servicio-right {
    padding: 10px 20px;
    max-width: 300px;
}

.box-servicio-right img {
    width: 100%;
}

.box-servicio-button {
    border: 4px solid #979797;
    border-radius: 30px;
    padding: 10px;
    width: 100%;
    font-size: 15px;
    color: #979797;
    text-align: center;
    max-width: 200px;
    background-color: #fff;
}

.box-servicio-button a {
    text-decoration: none;
    color: #979797;
}

.box-servicio-button a:hover {}




.detalle-servicio {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.fa-solid.fa-image {
    display: none;
    font-weight: 100;
    font-size: 300px;
    padding: 21px;
    margin: -14px;
}

.create-form {
    padding: 21px;
    margin: -14px;
}

.create-form-contact {
    text-align: center;
    width: 50%;
    margin: auto
}

.control-form {
    margin-bottom: 15px;

}

.control-form label {
    margin-bottom: 5px;
    display: block;
}

.control-form input {
    width: 80%;
    padding: 8px;
}

.control-form-interes {
    display: grid;
    margin-bottom: 5px;
}

.button-form {
    font-size: 15px;
    padding: 5px 10px;
    width: 40%;
    color: #f2e3d5;
    background-color: #3ca6a6;
    border: hidden;
    border-radius: 10px;
    padding: 8px;
}

.button-form:hover {
    background-color: #f2e3d5;
    color: #012e40;
}

.titulo-form {
    text-align: center;

    padding: 20px;
    margin: 30px;

    color: white;
}

h3 {
    display: inline-block;
    padding: 10px;
}

.formulario-contacto-texto {
    display: flex;
}

.tenes-duda {
    align-self: center;
    margin-left: 30px;
}

.main-servicio {
    background-color: #ebebeb;
    margin: 40px;
    padding: 20px;
}

/*aca va CSS de register y contact*/



.registro-form-img {
    display: block;

}

.fa-solid.fa-address-card {
    display: none;
}

.formulario-registro {
    width: 90%;
    text-align: center;
}

.fa-solid.fa-address-card {
    font-weight: 100;
    font-size: 300px;
}

.create-form {
    padding: 21px;
    margin: -14px;
}

.create-form-contact {
    text-align: center;
    width: 50%;
    margin: auto
}

.control-form {
    margin-bottom: 15px;

}

.control-form label {
    margin-bottom: 5px;
    display: block;
}

.control-form input {
    width: 80%;
    padding: 8px;

}

.button-form {
    font-size: 15px;
    padding: 5px 10px;
    width: 40%;
    color: #f2e3d5;
    background-color: #3ca6a6;
    border: hidden;
    border-radius: 7px;
    padding: 8px;
    margin-top: 5px;
}


.button-form:hover {
    background-color: #f2e3d5;
    color: #012e40;
}

.titulo-form {
    text-align: center;
    padding: 20px;
    margin: 30px;
    color: #012E40;
    font-size: 40px;

}

h3 {
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
}

.formulario-contacto-texto {
    display: flex;
}

.tenes-duda {
    text-align: center;
    margin-left: 30px;
    font-size: 15px;
}

.formulario-contacto-texto {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    display: block;
}

.main-register {
    background-color: #ebebeb;
    margin: 30px;
}

.main-contact {
    background-color: #ebebeb;
    margin: 30px;
}


@media(min-width:769px) {
    .servicios-h1 {
        padding: 35px 0 15px 0;
    }

    .servicios-p {
        margin: 25px auto;
        width: 50%;
    }

    .box-servicio {
        flex-wrap: nowrap;
        max-width: 900px;
        text-align: left;
    }

    .box-servicio-button {
        font-size: 18px;
    }

    .box-servicio-left {
        padding: 30px;
    }

    .box-servicio-right {
        padding: 20px;
    }


    .formulario-contacto-texto {
        display: flex;
    }

    .registro-form-img {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .formulario-registro {
        width: 50%;
    }

    .fa-solid.fa-address-card {
        display: contents;
    }

    .fa-solid.fa-image {
        display: none;
        font-weight: 100;
        font-size: 300px;
        padding: 21px;
        margin: -14px;
    }

    .detalleDeServicio {
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
        flex-direction: row
    }

    .detalle-servicio {
        width: 45%;
    }
}

@media(min-width:1200px) {}

/*--------------------------------------------LOGIN---------------------------------------------------------*/


.login-box {
    margin: auto;
    width: 40%;
    padding: 5px;
    background: white;
    color: #fff;
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: #012E40;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    color: #024959;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
    color: #012E40;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #012E40;
    background: transparent;
    outline: none;
    height: 40px;
    color: #024959;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #026773;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #3CA6A6;
    color: #000;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.login-box a:hover {
    color: #012E40;
}

/*--------------------------------------------FOLDER--------------------------------------------------------*/
.create-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 40px 0;
}
/*-------------------------------------------PAGE NOT FOUND--------------------------------------------------*/
body404 {
    background: #012E40;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-404 {
    text-align: center;
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    line-height: 1.7;
}
.botonDeHome {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background: #012E40;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}

/*----------------------------------------------- SECCION PORTFOLIO--------------------------------------------------*/
body2{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
}

.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
    
}
.card-wrapper1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card1{
    border-radius: 25px;
    background-color: #fff;
    margin: 2%;
    width: 40%;
}
.image-content, .card-content1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content{
    row-gap: 5px;
    position: relative;
    border-radius: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #012E40;
    border-radius: 25px 25px 0 25px;
}
.overlay::before, .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #012E40;
}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}
.card-image1{
    position: relative;
    height: 150px;
    width: 150px;
    
    padding: 3px;
}
.card-image1 .card-img1{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #3CA6A6;
}
.name{
    font-size: 23px;
    font-weight: 500;
    color: #012E40;
}
.descripcion{
    font-size: 20px;
    color: #707070;
    text-align: center;
}
.button{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #012E40;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
a{
    color: #fff;
}
button:hover{
    background: #3CA6A6;
}
/*---------------------------------------NOSOTROS----------------------------------------------------*/
body1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #E3E3D8;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 2px 3px 2px rgba(73, 69, 50, 0.4);
    margin: 50px;
}

.card .content {
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;  
    text-align: center;  
    padding: 20px;
    background: #fff;
}

.card .content .img {
    height: 50%;
    margin-bottom: 20px;
}

.card .content .img img {
   position: relative;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   object-fit: cover;
   box-shadow: 0 0 10 px rgba(0, 0, 0, 0.8);
}

.card .content span {
    position: absolute;
    width: 350px;
    height: 200px;
    background: linear-gradient(to right, #044761, #044761);
    transform: rotate(-35deg);
    top: -50px;
    left: -100px;
}

.card .content h4 {
    font-size: 18px;
    color: #1a1919;
    margin-bottom: 5px;
}

.card .content h6 {
    font-size: 13px;
    color: #012E40;
}

.card .content p {
    font-size: 13px;
    color: #1a161f;
    margin-top: 10px;
}

.card .links {
    position: absolute;
    z-index: 90;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
    padding: 20px;
    align-items: center;
    right: 10px;
    top: 15px;
    transition: .5s;
}

.card:hover .links {
    right: -50px;
    border-radius: 0 10px 10px 0;
}

.card .links a {
    font-size: 20px;
    color: #646069;
}

.card .links a:nth-child(1):hover {
    color: #012E40;
}
.card .links a:nth-child(2):hover {
    color: #012E40;
}

.card .links a:nth-child(3):hover {
    color: #012E40;
}

.card .links a:nth-child(4):hover {
    color: #012E40;
}