*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "roboto";
}

main{
    background-color: #012e40;
    color: #f2e3d5;
}

.registro-form-img{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row
}
.formulario-registro{
    width: 45%;
}

.fa-solid.fa-address-card {
    font-weight: 100;
    font-size: 300px;
}

.create-form{
    padding: 21px;
    margin: -14px;
}
.create-form-contact{
    text-align: center;
    width: 50%;
    margin:auto
}
.control-form{
    margin-bottom: 15px;

}
.control-form label{
    margin-bottom: 5px;
    display: block;
}
.control-form input{
    width: 80%;
    padding: 8px;

}

.button-form{
    font-size: 15px;
    padding: 5px 10px;
    width: 40%;
    color: #f2e3d5;
    background-color: #3ca6a6;
    border: hidden;
    border-radius: 10px;
    padding: 8px;
}


.button-form:hover{
    background-color: #f2e3d5;
    color: #012e40;
}

.titulo-form {
    text-align: center;
    border: solid 1px #024959;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    background-color: #3ca6a6;
    color: white;
}

h3{
    display: inline-block;
    padding: 10px;

}

.formulario-contacto-texto{
    display: flex;
}

.tenes-duda{
    align-self: center;
    margin-left: 30px;
}