*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    }

body { 
        font-size: 12px;
        margin: 0%;
        background-color: #ebebeb;
        font-family: 'Roboto', sans-serif; 
    } 


/********************************************************************************/
/*********************************  HEADER **************************************/

header {
    width: 100%;
    background-color: #012E40;
}

.header {
    background-image: url("/images/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    max-height: 316px;
    margin:auto;
}

.header-container {
    padding-top: 60px;

}

.lineaUno{
    display: flex;
    justify-content: space-between;
    width:100%;
    align-items: center;
}

.header-logo{
    width: 30%;
    text-align: right;
    margin-right: 100px;
}

.header-logo img {
    width:100%;
    max-width: 433px;
}

.header-search {
    width: 35%;
    margin:0;
    padding:0;
}
.header-search input {
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: none;
    margin:0;
    padding-left:15px;
}

.header-search button {
    width: 15%;
    background-color: #3CA6A6;
    border: none;
    border-radius: 5px;
}

.header-right-menu {
    display: none;
    width: 40%;
    justify-content: flex-end;
}

.header-right-menu li {
    margin: 15px;
    color: white;
    font-size: 18px;
    padding-bottom: 10px;
}

.header-right-menu i {
    margin-right: 10px;
}

.header-right-menu li a {
    color: white;
    text-decoration: none;
}

.menu-button{
    display: block;
    color: white;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
} 

.header-bottom-menu{
    display: none;
    margin:auto;   
}

.header-bottom-menu a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 5px 0;
    font-size: 25px;
}

/******************** HEADER --> MEDIA QUERIES *******************/
@media (min-width: 769px){
    .main-footer{
        flex-wrap: nowrap;
        justify-content: space-between;
}


/********************************************************************************/
/***********************  ESTILOS GENERALES DEL MAIN ****************************/

main {
    background-color: #FFFF;
    margin-bottom: 30px;
    margin:auto;
    text-align: center;
}


/********************************************************************************/
/**********************  ESTILOS GENERALES DEL FOOTER ***************************/

.main-footer{
    background-color: #012E40;
    display: flex;
    flex-wrap: wrap;
}

.module-footer{
    color: white;
    margin: auto;
    padding: 5%;
    border-bottom: #ebebeb 1px solid;
}

.module-footer ul li{
    margin: 5px;
}

.footer-logo {
    width: 100%;
    text-align: center;
}

.footer-logo-img {
    width: 70%;
}

.module-footer h2{
    text-align: center;
    margin-bottom: 10px;
    color: #F2E3D5;
}

.module-footer p{
    text-align: center;
    margin: 5px;
}
.icono img{
    padding: 10px;
    margin-top: 80px;
}

/****************** FOOTER --> MEDIA QUERIES *****************/
@media (min-width: 481px){
    .main-footer{
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .module-footer{
        border-bottom: 0;
    }

    .module-footer ul li{
        margin: 10px auto;
    }

    .box-logo{
        display: none;
    }

    .module-footer p{
        margin: 10px auto;
    }

    .icono img{
        padding: 5px;
        margin: auto;
    }
}

@media(min-width:769px){

    .input{
        width: 100%;
        margin-left: 5%;
    }

    .menu-button{
        display: none;
    }

    .header-right-menu{
        display: flex;
        width: 22%;
        margin: auto;
        padding: 0px;

    }

    .header-right-menu li a{
        margin: 10px auto;
        padding: 10px;
    }

    .header-bottom-menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header-bottom-menu ul li{
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 5px 35px;
        margin: 0 15px;
        font-size: 17px;
    }
}

/*
/*
/*
/*
/*
/********************************************************************************/
/********************************  HOME *****************************************/

.main-home {
    
}

.home-slider{
    display: none;
}

.home-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.home-products p {
    margin-top: 15px;
    text-align: left;
    line-height: 18px;
}

.home-products h2 {
    text-align: right;
}

.home-products-box-software,
.home-products-box-ecommerce,
.home-products-box-uxui,
.home-products-box-apps { 
    background-color: #3ca6a6;
    color: white;
    padding: 10px 20px;
    margin: 15px;
    width: 50%;
    border-radius: 10px;
}

.home-products-box-software,
.home-products-box-ecommerce,
.home-products-box-uxui,
.home-products-box-apps {
    background-image: url(/images/home-services-software.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.home-solutions {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5%;
 
}

.home-solutions-box {
    width: 33%;
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.img-solutions{
    width: 90%;
}



@media(min-width:769px){
.home-products-box{
        width: 40%;
}
.home-products{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home-products p {
    margin-top: 15px;
    text-align: left;
    line-height: 18px;
}

.home-products h2 {
    text-align: right;
}

.home-products-box-software,
.home-products-box-ecommerce,
.home-products-box-uxui,
.home-products-box-apps { 
    background-color: #3ca6a6;
    color: white;
    padding: 79px 40px;
    margin: 14px;
    width: 40%;
    border-radius: 5px;
}

.home-products-box-software,
.home-products-box-ecommerce,
.home-products-box-uxui,
.home-products-box-apps {
    background-image: url(/images/home-services-software.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
   .home-slider{
    display: contents;
   }
   .home-slider-img {
    width: 100%;
   }
}


/*
/*
/*
/*
/*
/********************************************************************************/
/***************************  CARRITO DE COMPRAS ********************************/

.main-carrito{
    background-color: #ebebeb;
}

.encabezado{
    background-color: #024959;
}

.encabezado h1{
    font-size: 30px;
    padding: 2%;
    color: #F2E3D5;
}

.encabezado h2{
    color: white;
    text-align:start;
    padding: 2%;
    font-size: 20px;
} 

.titulos{
    border-bottom: gray double 1px;
    margin-top: 30px;   
}

.titulos h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #012E40;
    text-align: center;
    margin-bottom: 20px;
}

.seleccion-menu p{
    font-size: 25px;
    padding: 2%;
    margin-top: 5%;
    text-align: center;
    color: #012E40;
}

.seleccion-buscador{
    width: 100%;
    display: flex;  
    flex-wrap: wrap;
}

.seleccion-buscador label{
    font-size: 17px;
    width: 80%;
    text-align: left;
    margin-top: 3%;
    padding: 1%;
    padding-left: 20px;
    color: #012e40;
}

.seleccion-buscador select{
    width: 90%;
    padding: 5%;
    border-radius: 20px;
    margin: auto;
    text-align: left;
    font-size: 24px;
}

.seleccion-check{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.seleccion-check .selector{
    width: 100%;
    padding-top: 15px;
    margin-bottom: 12px;
    font-size: 25px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    color: black;
}

.selector input{
    top: 1px;
    width: 20px;
    height: 20px;
    margin-left: 30px;
}

.boton-carrito{
  margin-left: 50%;
  width: 50%;
  padding: 5%;
}

button{
  background-color: #3ca6a6;
  width: 150px;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid #F2E3D5;
  color: white;
  cursor: pointer;
  margin: auto;
}

.valor-total{
display: flex;
justify-content: center;
border-top: #012E40 1px solid;
}

.valor-total h2{
    font-size: 50px;
    margin-top: 20px;
    color: #012E40;
}

/****************** CARRITO --> MEDIA QUERIES *****************/
@media(min-width: 769px){

    .titulos h2{
        font-size: 45px;
    }

    .seleccion-menu p{
        font-size: 30px;
        padding: 2%;
        margin-top: 5%;
        text-align: center;
    }

    .seleccion-buscador select{
        width: 90%;
        padding: 2%;
        border-radius: 20px;
        margin: 20px;
        text-align: left;
        font-size: 40px;
    }

    .selector input{
        width: 40px;
        height: 40px;
    }

    .boton-carrito{
        margin-left: 70%;
      }
}

@media(min-width:1200px){
    .seleccion-menu p{
        font-size: 40px;
        text-align: left;
    }
    .seleccion-buscador{
        width: 80%;
        display: flex;  
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .seleccion-buscador label{
        font-size: 25px;
        width: 20%;
        text-align: center;
        padding: 20px;
        margin: auto;
    }
    .seleccion-buscador select{
        width: 60%;
        padding: 2%;
        border-radius: 20px;
        margin: auto;
        text-align: left;
        font-size: 24px;
    }

}

/*
/*
/*
/*
/*
/********************************************************************************/
/******************************  PRODUCTOS **************************************/

.detalleDeProducto{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: row
}
.detalle-producto{
    width: 45%;
}

.fa-solid.fa-image {
    font-weight: 100;
    font-size: 300px;
    padding: 21px;
    margin: -14px;
}

.create-form{
    padding: 21px;
    margin: -14px;
}

.create-form-contact{
    text-align: center;
    width: 50%;
    margin:auto
}

.control-form{
    margin-bottom: 15px;

}

.control-form label{
    margin-bottom: 5px;
    display: block;
}

.control-form input{
    width: 80%;
    padding: 8px;
}

.control-form-interes{
    display:grid;
    margin-bottom: 5px;
}

.button-form{
    font-size: 15px;
    padding: 5px 10px;
    width: 40%;
    color: #f2e3d5;
    background-color: #3ca6a6;
    border: hidden;
    border-radius: 10px;
    padding: 8px;
}

.button-form:hover{
    background-color: #f2e3d5;
    color: #012e40;
}

.titulo-form {
    text-align: center;
    border: solid 1px #024959;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    background-color: #3ca6a6;
    color: white;
}

h3{
    display: inline-block;
    padding: 10px;
}

.formulario-contacto-texto{
    display: flex;
}

.tenes-duda{
    align-self: center;
    margin-left: 30px;
}



@media(min-width:769px){

    .menu-button{
        display: none;
    }

    .header-right-menu{
        display: flex;
        width: 22%;
        margin: auto;
        padding: 0px;

    }

    .header-right-menu li a{
        margin: 10px auto;
        padding: 10px;
    }

    .header-bottom-menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header-bottom-menu ul li{
        text-decoration: none;
        color: white;
        display: inline-block;
        padding: 5px 35px;
        margin: 0 15px;
        font-size: 17px;
    }
}

/*aca va CSS de register y contact*/



.registro-form-img{
    display: block;
    
}

.fa-solid.fa-address-card{
    display: none;
}
.formulario-registro{
    width: 90%;
    text-align: center;
}

.fa-solid.fa-address-card {
    font-weight: 100;
    font-size: 300px;
}

.create-form{
    padding: 21px;
    margin: -14px;
}
.create-form-contact{
    text-align: center;
    width: 50%;
    margin:auto
}
.control-form{
    margin-bottom: 15px;

}
.control-form label{
    margin-bottom: 5px;
    display: block;
}
.control-form input{
    width: 80%;
    padding: 8px;

}

.button-form{
    font-size: 15px;
    padding: 5px 10px;
    width: 40%;
    color: #f2e3d5;
    background-color: #3ca6a6;
    border: hidden;
    border-radius: 7px;
    padding: 8px;
    margin-top: 5px;
}


.button-form:hover{
    background-color: #f2e3d5;
    color: #012e40;
}

.titulo-form {
    text-align: center;
    border: solid 1px #024959;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    background-color: #3ca6a6;
    color: white;
    font-size: 20px;
}

    
  
    

h3{
    display: inline-block;
    padding: 10px;
    margin-top: 20px;

}

.formulario-contacto-texto{
    display: flex;
}

.tenes-duda{
    text-align: center;
    margin-left: 30px;
    font-size: 15px;
}
.formulario-contacto-texto{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    display: block;
}

@media(min-width:769px){
.formulario-contacto-texto{
    display: flex;
}
.registro-form-img{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 20px;
}
.formulario-registro{
    width: 50%;
}
.fa-solid.fa-address-card{
    display:contents ;
}
}

