<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>
            <mainCategories>
                <% if (!locals.isLogged) { %>
                <h1 class="servicios-h1">Categorías de servicios</h1>
                <div id="containerCat" class="row">
                    <h2>CARGANDO...</h2>
                </div>
            </mainCategories>
            <% } else { %>  
                <h1 class="servicios-h1">Categorías de servicios</h1>
                <div id="containerCat" class="row">
                    <h2>CARGANDO...</h2>
                </div>
            </mainCategories>
            <div>
                <button class="box-servicio-button0">
                    <a href="/categories/categoryCreate">CREAR CATEGORIA</a>    
                </button>
                <button class="box-servicio-button0">
                    <a href="/servicios/servicioCreate">CREAR SERVICIO</a>    
                </button>
            </div>
            <% } %>  
        <%- include('../partials/footer') %>

        <%- include('../partials/scripts') %>
    </body>
</html>