<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %> 
        <main>
            <h1 class=>Portfolio</h1>
                
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, quam? Quae delectus pariatur molestiae omnis ducimus alias placeat.</p>
                    
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
