<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %> 
        <body2>
            <div class="slide-content">
                <div class="card-wrapper1">
                    <div class="card1">
                        <div class="image-content">
                            <span class="overlay"></span>
    
                        <div class="card-image1">
                            <img src="/images/port1.jpeg" alt="" class="card-img1">
                        </div>
                    </div>
    
                    <div class="card-content1">
                        <h2 class="name">Mercado Liebre</h2>
                        <p class="descripcion">Desarrollamos "Mercado Liebre" un e-commerce especializado en la venta de productos y servicios a través de la web. Esta web condice con las páginas de compra y venta virtual; permitiendo que el usuario compre desde la comodidad de su casa.</p>
    
                        <button class="button">
                            <a href="https://entrega-mercado-liebre-grupal.onrender.com/">Ver Proyecto</a></button>
                    
                        </div>
                    </div>
                    <div class="card1">
                        <div class="image-content">
                            <span class="overlay"></span>
    
                        <div class="card-image1">
                            <img src="/images/port2.jpeg" alt="" class="card-img1">
                        </div>
                    </div>
    
                    <div class="card-content1">
                        <h2 class="name">Concesionaria</h2>
                        <p class="descripcion">Nuestro equipo desarrolla softwares para el eficiente control de ventas y stock de las diferentes empresas, como la "concesionaria". Haciendo posible que nuestra empresa cumpla los requisitos de nuestros clientes y queden satisfechos en tiempo y forma.</p>
    
                        <button class="button">
                            <a href="">Ver Proyecto</a></button>
                    
                        </div>
                    </div>
                    <div class="card1">
                        <div class="image-content">
                            <span class="overlay"></span>
    
                        <div class="card-image1">
                            <img src="/images/port3.jpg" alt="" class="card-img1">
                        </div>
                    </div>
    
                    <div class="card-content1">
                        <h2 class="name">Empresas</h2>
                        <p class="descripcion">Desarrollamos código que crea y modifica aplicaciones informáticas de software generales o programas de utilidad especializada; analizamos las necesidades del usuario y desarrollamos soluciones de software, personalizamos el software para el uso del cliente.</p>
    
                        <button class="button">
                            <a href="">Ver Proyecto</a></button>
                    
                        </div>
                    </div>
                    <div class="card1">
                        <div class="image-content">
                            <span class="overlay"></span>
    
                        <div class="card-image1">
                            <img src="/images/port4.png" alt="" class="card-img1">
                        </div>
                    </div>
    
                    <div class="card-content1">
                        <h2 class="name">Contaduría</h2>
                        <p class="descripcion">Utilizamos MySQL un sistema de gestión de bases de datos relacional desarrollado bajo licencia dual: Licencia pública general/Licencia comercial por Oracle Corporation y está considerada como la base de datos de código abierto más popular del mundo</p>
    
                        <button class="button">
                            <a href="">Ver Proyecto</a></button>
                    
                        </div>
                    </div>
                    <div class="card1">
                        <div class="image-content">
                            <span class="overlay"></span>
    
                        <div class="card-image1">
                            <img src="/images/port5.png" alt="" class="card-img1">
                        </div>
                    </div>
    
                    <div class="card-content1">
                        <h2 class="name">Estilos</h2>
                        <p class="descripcion">Usamos el conjunto de reglas más usada para escribir código, que incluye una gran gama de aspectos dentro del proceso de codificación. Un buen estilo de programación aporta la eficiencia de la web, logrando que los programas sean más robustos y comprensibles.</p>
    
                        <button class="button">
                            <a href="">Ver Proyecto</a></button>
                    
                        </div>
                    </div>
                    <div class="card1">
                        <div class="image-content">
                            <span class="overlay"></span>
    
                        <div class="card-image1">
                            <img src="/images/port6.jpg" alt="" class="card-img1">
                        </div>
                    </div>
    
                    <div class="card-content1">
                        <h2 class="name">Código</h2>
                        <p class="descripcion">Trabajamos con distintos lenguajes de programación que nos proporciona la capacidad de escribir/programar una serie de instrucciones o secuencias de órdenes en forma de algoritmos, con el fin de controlar el sistema informático a la comodidad del cliente.</p>
    
                        <button class="button">
                            <a href="">Ver Proyecto</a></button>
                    
                        </div>
                    </div>
    
                </div>
            </div>
    </body2>
        <%- include('../partials/footer') %>
    </body>
    </html>
