<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %> 
        <section id="portfolio" class="portfolio">
            <div class="contenido-seccion">
                <h2>Portafolio</h2>
                <h4>Diseñamos sitios de todo tipo, pero con cada cliente nuestro labor es personalizado.

                    Si bien el rubro puede repetirse, cada empresa tiene una historia propia detrás.</h4>
                <div class="galeria">
                    <div class="proyecto">
                        <img src="/images/port1.jpeg" alt="">
                        <div class="overlay">
                            <h3>Mercado Liebre</h3>
                            <p>E-Commerce</p>
                        </div>
                    </div>
                    <div class="proyecto">
                        <img src="/images/port2.jpeg" alt="">
                        <div class="overlay">
                            <h3>Concesionaria</h3>
                            <p>Desarrollo de Software</p>
                        </div>
                    </div>
                    <div class="proyecto">
                        <img src="/images/port3.jpg" alt="">
                        <div class="overlay">
                            <h3>Empresas</h3>
                            <p>Desarrollo de Apps</p>
                        </div>
                    </div>
                    <div class="proyecto">
                        <img src="/images/port4.png" alt="">
                        <div class="overlay">
                            <h3>Contaduría</h3>
                            <p>Desarrollo Web</p>
                        </div>
                    </div>
                    <div class="proyecto">
                        <img src="/images/port5.png" alt="">
                        <div class="overlay">
                            <h3>Estilos</h3>
                            <p>Diseño Web</p>
                        </div>
                    </div>
                    <div class="proyecto">
                        <img src="/images/port6.jpg" alt="">
                        <div class="overlay">
                            <h3>Código</h3>
                            <p>Desarrollo de Apps</p>
                        </div>
                    </div>
                </div>
    
            </div>
        </section>
        <%- include('../partials/footer') %>
    </body>
    </html>
