<!DOCTYPE html>
<html lang="en">
    <link href="/css/styles.css" rel="stylesheet" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGE NOT FOUND</title>
</head>
<body404>
    <div class="container-404">
        <h1>ERROR 404</h1>
        <p>Esta página no se encuentra disponible en estos momentos. Disculpe las molestias.</p>
        <a href="/" class="botonDeHome">
            Página principal
        </a>
    </div>
</body404>
</html>