<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %> 
        <main>
            <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body1>

    <div class="card">
        <div class="content">
        <span></span>
        <div class="img">
            <img src="/images/fotoEstandar.jpg" alt="gabriel laluf">
        </div>
        <h4>Gabriel Laluf</h4>
        <h6>Desarrollador Web Full Stack</h6>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet inventore id error autem dolores nostrum illum asperiores recusandae natus. Ratione!</p>
    </div>
    <div class="links">
        <a href="#" target="_blank"><i class="fa-solid fa-envelope"></i></i></a>
        <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></i></a>
        <a href="https://github.com/gabriel-laluf" target="_blank"><i class="fa-brands fa-github"></i></i></i></a>
        <a href="#" target="_blank"><i class="fa-brands fa-linkedin"></i></i></a>
    </div>
</div>

<div class="card">
    <div class="content">
    <span></span>
    <div class="img">
        <img src="/images/fotoEstandar.jpg" alt="andres herrera">
    </div>
    <h4>Andrés Herrera</h4>
    <h6>Desarrollador Web Full Stack</h6>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet inventore id error autem dolores nostrum illum asperiores recusandae natus. Ratione!</p>
</div>
<div class="links">
    <a href="#" target="_blank"><i class="fa-solid fa-envelope"></i></i></a>
    <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></i></a>
    <a href="https://github.com/HerreraA" target="_blank"><i class="fa-brands fa-github"></i></i></i></a>
    <a href="#" target="_blank"><i class="fa-brands fa-linkedin"></i></i></a>
</div>
</div>

<div class="card">
    <div class="content">
    <span></span>
    <div class="img">
        <img src="/images/tanialopezfoto.jpg" alt="tania lopez">
    </div>
    <h4>Tania Lopez</h4>
    <h6>Desarrollador Web Full Stack</h6>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet inventore id error autem dolores nostrum illum asperiores recusandae natus. Ratione!</p>
</div>
<div class="links">
    <a href="#" target="_blank"><i class="fa-solid fa-envelope"></i></i></a>
    <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></i></a>
    <a href="https://github.com/TaniaMelisa" target="_blank"><i class="fa-brands fa-github"></i></i></i></a>
    <a href="https://www.linkedin.com/in/tania-melisa-lopez/" target="_blank"><i class="fa-brands fa-linkedin"></i></i></a>
</div>
</div>

<div class="card">
    <div class="content">
    <span></span>
    <div class="img">
        <img src="/images/fotoEstandar.jpg" alt="santiago ramirez">
    </div>
    <h4>Santiago Ramirez Ruiz</h4>
    <h6>Desarrollador Web Full Stack</h6>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet inventore id error autem dolores nostrum illum asperiores recusandae natus. Ratione!</p>
</div>
<div class="links">
    <a href="#" target="_blank"><i class="fa-solid fa-envelope"></i></i></a>
    <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></i></a>
    <a href="https://github.com/santiago51ramirez" target="_blank"><i class="fa-brands fa-github"></i></i></i></a>
    <a href="#" target="_blank"><i class="fa-brands fa-linkedin"></i></i></a>
</div>
</div>

<div class="card">
    <div class="content">
    <span></span>
    <div class="img">
        <img src="/images/fotoEstandar.jpg" alt="agustin perez">
    </div>
    <h4>Agustín Pérez</h4>
    <h6>Desarrollador Web Full Stack</h6>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet inventore id error autem dolores nostrum illum asperiores recusandae natus. Ratione!</p>
</div>
<div class="links">
    <a href="#" target="_blank"><i class="fa-solid fa-envelope"></i></i></a>
    <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></i></a>
    <a href="https://github.com/Agustin-Pe" target="_blank"><i class="fa-brands fa-github"></i></i></i></a>
    <a href="#" target="_blank"><i class="fa-brands fa-linkedin"></i></i></a>
</div>
</div>
<div class="card">
    <div class="content">
    <span></span>
    <div class="img">
        <img src="/images/fotoEstandar.jpg" alt="carlos escobar">
    </div>
    <h4>Carlos Felipe Escobar</h4>
    <h6>Desarrollador Web Full Stack</h6>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet inventore id error autem dolores nostrum illum asperiores recusandae natus. Ratione!</p>
</div>
<div class="links">
    <a href="#" target="_blank"><i class="fa-solid fa-envelope"></i></i></a>
    <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></i></a>
    <a href="https://github.com/crinlancelot" target="_blank"><i class="fa-brands fa-github"></i></i></i></a>
    <a href="#" target="_blank"><i class="fa-brands fa-linkedin"></i></i></a>
</div>
</div>

</body1>
</html>
                    
    </main>
    <%- include('../partials/footer') %>
</body>
</html>