<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %>  
    <main>
    <div class="main-home">
       <div class="home-slider">
            <ul>
                <li><img src="/images/slider0!.jpg" alt="Desarrollo de Sitios Web"></li>
                <li><img src="/images/slider1!.jpg" alt="Desarrollo de Apps"></li>
                <li><img src="/images/slider2!.jpg" alt="Desarrollo de Softwares"></li>
                <li><img src="/images/slider3!.jpg" alt="Diseño Web"></li>
                <li><img src="/images/slider4!.jpg" alt="E-commerce"></li>
                
            </ul>    
       </div>
            <div class="home-servicios">
                <div class="home-servicios-box">
                    <h2>Software Factory</h2>
                    <p>Desarrollamos soluciones tecnológicas capaces de dar respuesta de forma rápida y eficaz a las exigencias del cliente.</p>
                </div>
                <div class="home-servicios-box">
                    <h2>Desarrollo de Apps</h2>
                    <p>Creamos diversas aplicaciones que puedan ser usadas en los distintos dispositivos que posea el usuario.</p>
                </div>
                <div class="home-servicios-box">
                    <h2>Diseño UX/UI</h2>
                    <p>Supervisamos la experiencia del usuario, es decir, el modo con el que interactúa con la web y las apps.</p>                    
                </div>
                <div class="home-servicios-box">
                    <h2>E-commerce</h2>
                    <p>Ofrecemos un servicio de distribución, venta, compra, y suministro de información de productos a través de Internet.</p>                    
                </div>
            </div>

            <div class="home-title">
                <div class="home-title-left">Desarrollamos soluciones</div>
                <div class="home-title-right">para diferentes industrias y sectores</div>
            </div>
            <div class="home-solutions">
                <article class="home-solutions-box">
                    <img class="img-solutions" src="/images/home-solutions-fintech.jpg" alt="Fintech solutions">
                    <h4>Fintech</h4>
                </article>
                <article class="home-solutions-box">
                    <img  class="img-solutions" src="/images/home-solutions-tiendas-virtuales.jpg" alt="Tiendas Virtuales">
                    <h4>Tiendas virtuales</h4>
                </article>
                <article class="home-solutions-box">
                    <img  class="img-solutions" src="/images/home-solutions-delivery.jpg" alt="Delivery">
                    <h4>Delivery</h4>
                </article>
                <article class="home-solutions-box">
                    <img  class="img-solutions" src="/images/home-solutions-eventos.jpg" alt="Eventos">
                    <h4>Eventos</h4>
                </article>
                <article class="home-solutions-box">
                    <img  class="img-solutions" src="/images/home-solutions-turismo.jpg" alt="Turismo">
                    <h4>Turismo</h4>
                </article>
                <article class="home-solutions-box">
                    <img  class="img-solutions" src="/images/home-solutions-elearning.jpg" alt="E-Learning">
                    <h4>E-Learning</h4>
                </article>                                                                                
            </div>
    </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>