<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <body>
        <%- include('../partials/header') %>  
    <main>
    <!-- Slider main container -->
    <div class="swiper swiper-nuevo">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide"><img src="/images/slider-1.jpg" alt=""></div>
          <div class="swiper-slide"><img src="/images/slider-2.jpg" alt=""></div>
          <div class="swiper-slide"><img src="/images/slider-3.jpg" alt=""></div>
          <div class="swiper-slide"><img src="/images/slider-4.jpg" alt=""></div>
          <div class="swiper-slide"><img src="/images/slider-5.jpg" alt=""></div>
          
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
        
    
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <script>const swiper = new Swiper('.swiper-nuevo', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,
            /*effect: "cube",*/
            autoplay: true,
            
            // If we need pagination
            pagination: {
              el: '.swiper-pagination',
              clickable: true,
              dynamicBullets: true,
            },
          
            // Navigation arrows
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },
          
            // And if we need scrollbar
            scrollbar: {
              el: '.swiper-scrollbar',
              draggable: true,
            },
          });</script>
            <div class="home-servicios">
                <div class="home-servicios-box home-servicios-box-img1">
                    <h2>Software Factory</h2>
                    <p>Desarrollamos soluciones tecnológicas capaces de dar respuesta de forma rápida y eficaz a las exigencias del cliente.</p>
                </div>
                <div class="home-servicios-box home-servicios-box-img2">
                    <h2>Desarrollo de Apps</h2>
                    <p>Creamos diversas aplicaciones que puedan ser usadas en los distintos dispositivos que posea el usuario.</p>
                </div>
                <div class="home-servicios-box home-servicios-box-img3">
                    <h2>Diseño UX/UI</h2>
                    <p>Supervisamos la experiencia del usuario, es decir, el modo con el que interactúa con la web y las apps.</p>                    
                </div>
                <div class="home-servicios-box home-servicios-box-img4">
                    <h2>E-commerce</h2>
                    <p>Ofrecemos un servicio de distribución, venta, compra, y suministro de información de productos a través de Internet.</p>                    
                </div>
            </div>

            <div class="home-title">
                <div class="home-title-left">Hola!</div>
                <div class="home-title-right">Desarrollamos soluciones
                     para diferentes industrias y sectores</div>
                     <button class="homr-title botonContacto">
                        <a href="/contact">
                        Contactanos
                        </a>
                    </button>
            </div>
            <div class="home-solutions">
                <article class="home-solutions-box">
                    <img class="img-solutions" src="/images/home-solutions-fintech.jpg" alt="Fintech solutions">
                    <h4>Fintech</h4>
                </article>
                <article class="home-solutions-box">
                    <img  class="img-solutions" src="/images/home-solutions-tiendas-virtuales.jpg" alt="Tiendas Virtuales">
                    <h4>Tiendas virtuales</h4>
                </article>
                <article class="home-solutions-box">
                    <img  class="img-solutions" src="/images/home-solutions-delivery.jpg" alt="Delivery">
                    <h4>Delivery</h4>
                </article>
                <article class="home-solutions-box">
                    <img  class="img-solutions" src="/images/home-solutions-eventos.jpg" alt="Eventos">
                    <h4>Eventos</h4>
                </article>
                <article class="home-solutions-box">
                    <img  class="img-solutions" src="/images/home-solutions-turismo.jpg" alt="Turismo">
                    <h4>Turismo</h4>
                </article>
                <article class="home-solutions-box">
                    <img  class="img-solutions" src="/images/home-solutions-elearning.jpg" alt="E-Learning">
                    <h4>E-Learning</h4>
                </article>                                                                                
            </div>
    </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>