<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %> 
        <main>
            <h1 class="products-h1">DESARROLLO WEB</h1>
            <div class="products-p">
                <p>Omnis voluptate alias magni iste asperiores et nulla, modi molestiae aliquid perspiciatis eum vel similique doloribus, provident totam.</p>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">01</div>
                    <div class="box-product-txt">
                        <h2>DESARROLLO WORDPRESS</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, quam? Quae delectus pariatur molestiae omnis ducimus alias placeat.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/desarrollo-wordpress.jpg" alt="Desarrollo Wordpress">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">02</div>
                    <div class="box-product-txt">
                        <h2>DISEÑO WEB DRUPAL</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, quam? Quae delectus pariatur molestiae omnis ducimus alias placeat.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/diseno-web-drupal.jpg" alt="Diseño Web Drupal">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">03</div>
                    <div class="box-product-txt">
                        <h2>DISEÑO WEB BOOTSTRAP</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, quam? Quae delectus pariatur molestiae omnis ducimus alias placeat.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLE</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/diseno-web-bootstrap.jpg" alt="Diseño Web Bootstrap">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">04</div>
                    <div class="box-product-txt">
                        <h2>DISEÑO UX/UI</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, quam? Quae delectus pariatur molestiae omnis ducimus alias placeat.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/diseno-ux-ui.jpg" alt="Diseño UX/UI">
                </div>
            </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
