<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %> 
        <main>
            <h1 class="products-h1">DESARROLLO DE SOFTWARE</h1>
            <div class="products-p">
                <p>El proceso para el desarrollo de software, también denominado ciclo de vida del desarrollo de software, es una estructura aplicada al desarrollo de un producto de software.</p>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">01</div>
                    <div class="box-product-txt">
                        <h2>DESARROLLO DE APLICACIONES</h2>
                        <p>En informática, un desarrollador​ (al que con frecuencia también se conoce como analista-programador), es un especialista en informática que es capaz de concebir y elaborar sistemas informáticos (paquetes de software), así como de implementarlos y ponerlos a punto, utilizando uno o varios lenguajes de programación.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/desarrolloDeAplicaciones.jpg" alt="Desarrollo de aplicaciones">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">02</div>
                    <div class="box-product-txt">
                        <h2>INFRASTRUCTURA EN LA NUBE</h2>
                        <p>La computación en la nube​ conocida también como servicios en la nube, informática en la nube, nube de cómputo o simplemente "la nube", es el uso de una red de servidores remotos conectados a internet para almacenar, administrar y procesar datos, servidores, bases de datos, redes y software.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/InfrastructuraNube.jpg" alt="infrastructura de la nube">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">03</div>
                    <div class="box-product-txt">
                        <h2>SERVICIOS DE MANTENIMIENTO Y SOPORTE</h2>
                        <p>La asistencia técnica o apoyo técnico es brindada por las compañías para que sus clientes puedan hacer uso de sus productos o servicios de la manera en que fueron puestos a la venta. La finalidad de la asistencia técnica es ayudar a los usuarios para que puedan resolver ciertos problemas.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLE</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/servicioDeMantenimiento.jpg" alt="servicio de mantenimiento y servicio">
                </div>
            </div>
           
    </main>
    <%- include('../partials/footer') %>