<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %> 
        <main>
            <h1 class="products-h1">DESARROLLO DE APPS</h1>
            <div class="products-p">
                <p>El desarrollo de aplicaciones móviles es el conjunto de procesos y procedimientos involucrados en la escritura de software para dispositivos informáticos pequeños e inalámbricos, como teléfonos inteligentes y otros dispositivos portátiles.</p>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">01</div>
                    <div class="box-product-txt">
                        <h2>ANDROID</h2>
                        <p>Android es un sistema operativo móvil basado en el núcleo Linux y otros software de código abierto. Fue diseñado para dispositivos móviles con pantalla táctil, como teléfonos inteligentes, tabletas, relojes inteligentes Wear OS, automóviles con otros sistemas a través de Android Auto, al igual los automóviles con el sistema Android Automotive y televisores Android TV.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/desarrollo-wordpress.jpg" alt="Desarrollo Wordpress">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">02</div>
                    <div class="box-product-txt">
                        <h2>IoS</h2>
                        <p>iOS es un sistema operativo inteligente (intelligent Operative System) móvil de la multinacional Apple Inc. Originalmente desarrollado para el iPhone (iPhone OS), después se ha usado en dispositivos como el iPod touch y el iPad. Apple no permite la instalación de iOS en hardware de terceros.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/diseno-web-drupal.jpg" alt="Diseño Web Drupal">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">03</div>
                    <div class="box-product-txt">
                        <h2>MULTIPLATAFORMA</h2>
                        <p>El software multiplataforma puede dividirse en dos grandes tipos o clases: uno requiere una compilación individual para cada plataforma que le da soporte, y el otro se puede ejecutar directamente en cualquier plataforma, sin preparación especial, por ejemplo, el software escrito en un lenguaje interpretado o bytecode precompilado portable, para los cuales los intérpretes o paquetes en tiempo de ejecución son componentes comunes o estándar de todas las plataformas.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLE</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/diseno-web-bootstrap.jpg" alt="Diseño Web Bootstrap">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">04</div>
                    <div class="box-product-txt">
                        <h2>APP NATIVAS</h2>
                        <p>Una aplicación móvil (en ocasiones, también aplicación telefónica) es una aplicación informática diseñada para ser ejecutada en teléfonos inteligentes, tabletas y otros dispositivos móviles. Este tipo de aplicaciones permiten al usuario efectuar un variado conjunto de tareas —profesional, de ocio, educativas, de acceso a servicios, etcétera—, facilitando las gestiones o actividades a desarrollar.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/diseno-ux-ui.jpg" alt="Diseño UX/UI">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">05</div>
                    <div class="box-product-txt">
                        <h2>PROGRESSIVE WEB APP</h2>
                        <p>las aplicaciones web progresivas son una evolución natural de las aplicaciones web que difuminan la barrera entre la web y las aplicaciones, pudiendo realizar tareas que generalmente solo las aplicaciones nativas podían llevar a cabo.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/diseno-ux-ui.jpg" alt="Diseño UX/UI">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">06</div>
                    <div class="box-product-txt">
                        <h2>INTERNET DE LAS COSAS</h2>
                        <p>El Internet de las cosas (IdC) describe objetos físicos (o grupos de estos) con sensores, capacidad de procesamiento, software y otras tecnologías que se conectan e intercambian datos con otros dispositivos y sistemas a través de internet u otras redes de comunicación</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/diseno-ux-ui.jpg" alt="Diseño UX/UI">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">07</div>
                    <div class="box-product-txt">
                        <h2>REALIDAD AUMENTADA</h2>
                        <p>La realidad aumentada (RA) es el término que se usa para describir al conjunto de tecnologías que permiten que un usuario visualice parte del mundo real a través de un dispositivo tecnológico con información gráfica añadida por este.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/diseno-ux-ui.jpg" alt="Diseño UX/UI">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">08</div>
                    <div class="box-product-txt">
                        <h2>INTELIGENCIA ARTIFICIAL</h2>
                        <p>La inteligencia artificial es, en las ciencias de la computación, la disciplina que intenta replicar y desarrollar la inteligencia y sus procesos implícitos a través de computadoras. </p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/diseno-ux-ui.jpg" alt="Diseño UX/UI">
                </div>
            </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
