<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %> 
        <main>
            <h1 class="products-h1">DISEÑO WEB</h1>
            <div class="products-p">
                <p>El diseño web es un área enfocada en el desarrollo de interfaces digitales, como el diseño de sitios y aplicaciones para web. Para ello, los diseñadores web crean las páginas utilizando lenguajes de marcado como HTML.</p>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">01</div>
                    <div class="box-product-txt">
                        <h2>DESARROLLO WORDPRESS</h2>
                        <p>WordPress es un Sistema de Gestión de contenidos (CMS) que permite organizar información para crear sitios web, blogs y hasta tiendas online. </p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/desarrollo-wordpress.jpg" alt="Desarrollo Wordpress">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">02</div>
                    <div class="box-product-txt">
                        <h2>DISEÑO WEB DRUPAL</h2>
                        <p>Drupal es un sistema de gestión de contenidos o CMS libre,​ modular, multipropósito y muy configurable que permite publicar artículos, imágenes, archivos y que también ofrece la posibilidad de otros servicios añadidos como foros, encuestas, votaciones, blogs, administración de usuarios y permisos.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/diseno-web-drupal.jpg" alt="Diseño Web Drupal">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">03</div>
                    <div class="box-product-txt">
                        <h2>DISEÑO WEB BOOTSTRAP</h2>
                        <p>Bootstrap es una biblioteca multiplataforma o conjunto de herramientas de código abierto para diseño de sitios y aplicaciones web. Contiene plantillas de diseño con tipografía, formularios, botones, cuadros, menús de navegación y otros elementos de diseño basado en HTML y CSS, así como extensiones de JavaScript adicionales.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLE</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/diseno-web-bootstrap.jpg" alt="Diseño Web Bootstrap">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">04</div>
                    <div class="box-product-txt">
                        <h2>DISEÑO UX/UI</h2>
                        <p>La experiencia del usuario es el conjunto de factores y elementos relativos a la interacción del usuario con un entorno o dispositivo concretos, dando como resultado una percepción positiva o negativa de dicho servicio, producto o dispositivo.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/diseno-ux-ui.jpg" alt="Diseño UX/UI">
                </div>
            </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
