<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %> 
        <main>
            <h1 class="products-h1">E-COMMERCE</h1>
            <div class="products-p">
                <p>El e-commerce funciona gracias a una serie de plataformas o canales digitales que facilitan las transacciones para la compra de productos o contratación de servicios. Entre estas opciones destaca la creación de una tienda online personalizada.</p>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">01</div>
                    <div class="box-product-txt">
                        <h2>MAGENTO</h2>
                        <p>Magento es una potente plataforma para lanzar sitios de compra y venta de productos online. Algunas de las empresas de eCommerce más grandes del mercado utilizan esta herramienta para mejorar sus sitios webs.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/magento.jpg" alt="magento">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">02</div>
                    <div class="box-product-txt">
                        <h2>PRESTASHOP</h2>
                        <p>PrestaShop es un sistema de gestión de contenidos (CMS) libre y de código abierto pensado para construir desde cero tiendas en línea de comercio electrónico.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/prestashop.jpg" alt="prestashop">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">03</div>
                    <div class="box-product-txt">
                        <h2>WORDPRESS</h2>
                        <p>WordPress es un sistema de gestión de contenidos (CMS) que permite crear y mantener un blog u otro tipo de web.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLE</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/wordpress.jpg" alt="wordpress">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">04</div>
                    <div class="box-product-txt">
                        <h2>SHOPIFY</h2>
                        <p>Shopify es una plataforma de comercio electrónico que, con su tecnología y herramientas, ofrece a negocios y profesionales la posibilidad de montar una tienda online con extrema facilidad y en poco tiempo.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/shopify.jpg" alt="shopify">
                </div>
            </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>