<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %> 
        <main>
            <h1 class="products-h1">SERVICIOS</h1>
            <div class="products-p">
                <p>Omnis voluptate alias magni iste asperiores et nulla, modi molestiae aliquid perspiciatis eum vel similique doloribus, provident totam.</p>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">01</div>
                    <div class="box-product-txt">
                        <h2>DESARROLLO DE APPS</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, quam? Quae delectus pariatur molestiae omnis ducimus alias placeat.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/products/desarrolloApp">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/categorias/desarrollo-app.jpeg" alt="Desarrollo de Apps">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">02</div>
                    <div class="box-product-txt">
                        <h2>DESARROLLO DE SOFTWARE</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, quam? Quae delectus pariatur molestiae omnis ducimus alias placeat.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/products/desarrolloSoftware">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/categorias/desarrollo-software.jpeg" alt="Desarrollo de Software">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">03</div>
                    <div class="box-product-txt">
                        <h2>DESARROLLO WEB</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, quam? Quae delectus pariatur molestiae omnis ducimus alias placeat.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/products/desarrolloWeb">VER DETALLE</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/categorias/desarrollo-web.jpeg" alt="Desarrollo Web">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">04</div>
                    <div class="box-product-txt">
                        <h2>DISEÑO WEB</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, quam? Quae delectus pariatur molestiae omnis ducimus alias placeat.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/products/disenoWeb">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/categorias/diseno-web.jpeg" alt="Diseño Web">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">05</div>
                    <div class="box-product-txt">
                        <h2>E-COMMERCE</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid, quam? Quae delectus pariatur molestiae omnis ducimus alias placeat.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/products/ecommerce">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/categorias/ecommerce.jpeg" alt="Ecommerce">
                </div>
            </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
