<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %> 
        <main>
            <h1 class="products-h1">SERVICIOS</h1>
            <div class="products-p">
                <p>Nuestra empresa proporciona servicios informáticos altamente eficientes además de un servicio integral que engloba todos los servicios de distintas áreas.</p>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">01</div>
                    <div class="box-product-txt">
                        <h2>DESARROLLO DE APPS</h2>
                        <p>El desarrollo de apps sostiene la creación de un software diseñado para ejecutarse en dispositivos móviles. El objetivo es crear una solución que aproveche el hardware y las características únicas de smartphones y otros entornos de desarrollo.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/products/desarrolloApp">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/categorias/desarrollo-app.jpeg" alt="Desarrollo de Apps">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">02</div>
                    <div class="box-product-txt">
                        <h2>DESARROLLO DE SOFTWARE</h2>
                        <p>El proceso para el desarrollo de software, también denominado ciclo de vida del desarrollo de software, es una estructura aplicada al desarrollo de un producto de software.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/products/desarrolloSoftware">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/categorias/desarrollo-software.jpeg" alt="Desarrollo de Software">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">03</div>
                    <div class="box-product-txt">
                        <h2>DESARROLLO WEB</h2>
                        <p>El desarrollo web es el proceso de creación y mantenimiento de sitios web. Los especialistas en desarrollo web son aquellos que se encargan de que los websites y las apps funcionen correctamente, sean eficientes, tengan dinamismo y buena organización.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/products/desarrolloWeb">VER DETALLE</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/categorias/desarrollo-web.jpeg" alt="Desarrollo Web">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">04</div>
                    <div class="box-product-txt">
                        <h2>DISEÑO WEB</h2>
                        <p>El diseño web es una actividad que consiste en la planificación, diseño, implementación y mantenimiento de sitios web. Abarca diferentes aspectos como el diseño gráfico web, diseño de interfaz y la experiencia de usuario, además de la navegabilidad, interactividad, usabilidad, arquitectura de la información e interacción de medios, entre los que podemos mencionar audio, texto, imagen, enlaces, video y la optimización de motores de búsqueda.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/products/disenoWeb">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/categorias/diseno-web.jpeg" alt="Diseño Web">
                </div>
            </div>
            <div class="box-product">
                <div class="box-product-left">
                    <div class="box-product-number">05</div>
                    <div class="box-product-txt">
                        <h2>E-COMMERCE</h2>
                        <p>El e-commerce funciona gracias a una serie de plataformas o canales digitales que facilitan las transacciones para la compra de productos o contratación de servicios. Entre estas opciones destaca la creación de una tienda online personalizada.</p>
                    </div>
                    <div>
                        <button class="box-product-button">
                            <a href="/products/ecommerce">VER DETALLES</a>
                        </button>
                    </div>
                </div>
                <div class="box-product-right">
                    <img src="./images/categorias/ecommerce.jpeg" alt="Ecommerce">
                </div>
            </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
