<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', /*{title: 'Formulario de creación'}*/) %>
<body>
	<!-- Header -->
	<%- include('../partials/header') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Formulario de creación de productos</h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/products/" method="POST">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="nombre" class="form-label">Nombre del servicio:</label>
						<input type="text" id="nombre" name="nombre" placeholder="Ej: Desarrollo de apps" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="precio" class="form-label">Precio:</label>
						<input type="text" id="precio" name="precio" placeholder="Ej: 5678" class="form-input">
					</div>
					<div class="col-12 col-md-6">
						<label for="categoria" class="form-label">Categoría:</label>
						<select name="categoria" id="categoria" class="form-input">
							<option value="">Elegí</option>
							<option value="in-sale">Desarrollo de Apps</option>
							<option value="visited">Diseño web</option>
                            <option value="visited">Desarrollo Web</option>
                            <option value="visited">Tiendas Online</option>
                            <option value="visited">Desarrollo de software</option>
						</select>
					</div>
					<div class="col-12">
						<label for="descripcion" class="form-label">Descipción:</label>
						<textarea name="descripcion" id="descripcion" class="form-input"></textarea>
					</div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
</body>	
</html>