<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %> 
    <main class="main-product">
        <h1 class="titulo-form">Detalle de producto</h1>
        <div class="detalleDeProducto">
       <div  class="detalle-producto">
        
        <form name="registro" method="get" action="/" class="create-form">
         <div class="control-form">
            <h2>Título del producto</h2> 
            <p class="relleno">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum porro accusamus officiis ipsam saepe voluptatem. Delectus, aliquid eum eligendi quos suscipit minus repellendus exercitationem eveniet non, incidunt magni hic consequuntur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum porro accusamus officiis ipsam saepe voluptatem. Delectus, aliquid eum eligendi quos suscipit minus repellendus exercitationem eveniet non, incidunt magni hic consequuntur.</p>
         </div>
         
        
            <button type="submit" class="button-form">Añadir al carrito</button>
            
    
        </form>
       </div>  
    <div class="detalle-producto">
     
        <i class="fa-solid fa-image"></i>

        
       
    </div>
     </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>
