<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/header') %> 
    <main>

        <h1>hola este es tu perfil</h1>
        <button> <a class="dropdown-item" href="/users/logout">Logout</a></button>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>